.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: rgb(2, 2, 70);
  color: #fff;
  width: 250px;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s;
  position: sticky;
  left: 0;
  top: 0;

  .inner-sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // upper heading styles
    .sidebar-heading.closedNavWidth {
      padding: 2.2rem 10px;
      width: 25px;
    }
    .sidebar-heading {
      display: flex;
      align-items: center;
      cursor: pointer;
      width: 160px;
      padding: 1rem 10px;
      transition: width 0.5s;

      svg {
        font-size: 25px;
      }
      .heading {
        padding: 0 10px;
      }
    }

    // dashboard link styles
    .nav-list {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .link-control.closedNavWidth {
        width: 25px;
      }

      .link-control {
        display: flex;
        text-decoration: none;
        align-items: center;
        width: 160px;
        padding: 5px 10px;
        cursor: pointer;
        color: #ccc;
        font-size: 14px;
        transition: width 0.5s;

        svg {
          font-size: 20px;
          padding-right: 10px;
        }

        &:hover {
          background-color: rgb(80, 80, 117);
          border-radius: 5px;
          color: #fff;
        }
      }
    }
  }

  .user-container.closedUserWidth {
    width: 60px;
  }
  .user-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(80, 80, 117);
    border-radius: 5px;
    margin: 2rem 0.5rem;
    padding: 0.5rem 0;
    cursor: pointer;
    width: 200px;
    transition: all 0.5s;
    .user-data {
      display: flex;
      align-items: center;
      width: 60%;

      .user-image {
        img {
          vertical-align: middle;
          border-radius: 50%;
          height: 30px;
          width: 30px;
        }
      }

      .user-about {
        padding: 0 10px;
        p {
          margin: 0;
          font-size: 10px;
        }
        p.muted-text {
          color: #ccc;
          font-size: 8px;
        }
      }
    }

    .user-drop-icon {
      svg {
        color: #ccc;
        vertical-align: middle;
      }
    }
  }
}

.closedSidebarWidth {
  width: 80px;
}
