.renderHTML {
  display: flex;
}

.renderHTML main {
  position: relative;
  background-color: #e2e4e6;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.active {
  background-color: rgb(80, 80, 117);
  border-radius: 5px;
  color: #fff;
}
